################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/pCheckerEnv
/__pycache__
/slide1.png
/slide2.png
/slide3.png
/.gitignore